{% extends "AppCoder/inicio.html"%}

{% load static %}

{% block herencia %}


    <h1>Listado de bibliotecarios</h1>
    
    
    <ul>   
    {% for b in bibliotecarios %}
        <li>{{b}}</li>
        <button>
            <a href="{% url 'eliminarBibliotecario' b.nombreBibliotecario %}">Borrar| </a>
            <a href="{% url 'editarBibliotecario' b.apellidoBibliotecario %}">Actualizar</a>
        </button>
        <br>
    {% endfor %}      
    </ul>    
    <p>
        <a href="formularioBibliotecario">Agregar</a>
        
    </p>

    

{% endblock %}