{% extends "AppCoder/inicio.html"%}

{% load static %}

{% block herencia %}
    
    <h1>Lista de libros</h1>

   {% if libro %}

        <ul>
        {% for i in libros %}
            <li>{{i}}</li>
            <button>
                <a href="{% url 'eliminarLibro' i.nombreLibro %}">Borrar| </a>
                <a href="{% url 'editarLibro' i.nombreLibro %}">Actualizar</a>
            </button>
            <br>
        {% endfor %}
        </ul>
        <p>
            <a href="formularioLibro">Agregar</a>
            
        </p>
    
   {% endif %}

{% endblock %}