{% extends "AppCoder/inicio.html"%}

{% load static %}

{% block herencia %}
    
    <h1>Lista de libros.</h1>

   {% if documentos %}

        <ul>
        {% for d in documentos %}
            <li>{{d}}</li>
            <button>
                <a href="{% url 'eliminarDocumento' d.nombreLibro %}">Borrar| </a>
                <a href="{% url 'editarDocumento' d.nombreLibro %}">Actualizar</a>
            </button>
            <br>
        {% endfor %}
        </ul>
        <p>
            <a href="formularioDocumento">Agregar</a>
            
        </p>
    
   {% endif %}

{% endblock %}